/build*
/cmake-build*
/neo/cmake-build*
*~
.*.swp
*.pyc
.cproject
.project
.settings/
.idea/

# Don't commit the 461 MB demo installer (it's copyrighted + huge; keep local only)
/D3Demo.exe
/D3Demo*.exe

docs/*

*.exe

node_modules/
.DS_Store
